<div class="footer">
    <p>Thank you for joining us!</p>
    <div class="footer-logo">Rumor</div>
    <p>If you have any questions, please contact us at <a href="mailto:nobody@lnmiit.ac.in" class="contact-email">nobody@lnmiit.ac.in</a></p>
    
    <div class="social-links">
        <a href="#" class="social-icon">f</a>
        <a href="#" class="social-icon">t</a>
        <a href="#" class="social-icon">in</a>
        <a href="#" class="social-icon">ig</a>
    </div>
    
    <p style="margin-top: 20px;">© 2025 Rumor Inc. All rights reserved.</p>
</div>